html{
    font-size:calc(0.4rem + 1vw);
}
body{
    display: grid;
  }
header{
    display: grid;
    width: 100%;
    padding: var(--metric-box-spacing);
    padding: 2rem;
    text;
}
main{
    margin-top:50px;
    background-color: lightgray;
}
article{
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    max-inline-size: 66ch;
}
aside{
    background-color: darkgray;
}
@media (min-width: 45em){
        body {
            display:grid;
        }
}
