html{
    font-size:calc(0.4rem + 1vw);
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
nav{
    display: flex;
    padding: 2rem;
}
main{
    margin-top:100px;
    background-color: lightgray;
}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
aside{
    background-color: darkgray;
}
@media (min-width: 45em){
        body {
            display:grid;
        }
}
